/*** navbar***/
.navbar-brand {
    color: #000080;
}
/*** hero ***/
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: bold sans-serif;
}
.content h1 {
    text-shadow: 2px 2px 4px black;
}
.content p {
    font-size: 18px;
    display: flex;
    width: 100%;
    text-align: center;
 
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5);
}

/*** Service ***/
.service-item {
    background-color: #89CFF0;
    box-shadow: 0 0 55px rgba(0, 0, 0, .08);
    transition: .5s;
    display: flex;
    height: 400px;
    margin-bottom: 20px;
}
.p-4 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.p-4 h5 {
    margin: 0;
}
.p-4 p {
    flex: 1;
}
.service-item:hover {
    background: #000080;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}
.mb-5 {
    color: #000080;
}
.text-in {
    color: #000080;
}
.web-text {
        color:#3B2F2F;
    }
/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/*** hero section services.html ***/

.jumbotron {
    background-image: url(images/jumbot.jpg);
    background-size: cover;
}
.text h1 {
    color: #FFFFFF;
}
.text h5 {
    color: #FFFFFF;
}

/*** page content in service.html ***/
.card-body {
    background-color: #89CFF0;
}
.card-body:hover {
    background: #000080;
    color: #FFFFFF; 
}

/*** script ***/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/*** page content at about.html ***/
.mb-6 {
    color: #006991;
}

/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    display: flex;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/*** page content at contact.php ***/
#map {
      height: 440px;
      width: 100%;
      margin-bottom: 20px;
    }
    .con-text {
        color: #000080;
    }
    .card-p {
        background-color: #bfeff8;
    }

    /*** form at contact.php ***/
.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0069d9;
}
.mb-7 {
    color: #008000;
}